<template>
    <div class="container">
        <v-card v-if="book" class="mt-5 text-center">
            <h3 class="pt-3" style="font-size: 1.8em">{{ book.title }}</h3>
            <v-card-text>
                <p>author: {{ book.author }}</p>
                <p>type: {{ book.type }}</p>
                <p>{{ book.createdAt | formatTimeString }}</p>
            </v-card-text>
        </v-card>
        <v-card class="mt-8 justify-center" flat>
            <v-card-actions class="justify-center">
                <v-btn
                    text
                    @click="deleteBook"
                    class="error white--text mx-1 mt-3"
                    >Delete</v-btn
                >
                <v-btn
                    text
                    @click="editBook"
                    class="primary white--text mx-1 mt-3"
                    >Edit</v-btn
                >
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
import BookService from '../services/Bookservice'

export default {
    data: () => ({ book: null }),
    methods: {
        async fetchBook() {
            this.book = await BookService.getBook(
                this.$route.params.bookId
            ).then(res => res.data)
        },
        deleteBook() {
            BookService.deleteBook(this.book.id)
            this.$router.push('/')
        },
        async editBook() {
            this.$router.push({
                name: 'EditBook',
                params: { bookId: this.book.id }
            })
        }
    },
    created() {
        this.fetchBook()
    }
}
</script>
