<template>
    <v-card style="max-width: 80%; margin: 50px auto">
        <v-container>
            <v-card-text>
                <v-text-field
                    placeholder="title"
                    v-model="book.title"
                ></v-text-field>
                <v-text-field
                    placeholder="author"
                    v-model="book.author"
                ></v-text-field>
            </v-card-text>
            <v-card-actions class="justify-center">
                <v-btn color="primary" v-on:click="addBook">ADD</v-btn>
            </v-card-actions>
        </v-container>
    </v-card>
</template>
<script>
import BookService from '../services/Bookservice'

export default {
    data: () => ({
        book: { title: '', author: '' }
    }),
    methods: {
        addBook() {
            BookService.createBook(this.book)
            this.$router.push('/')
        }
    }
}
</script>
