<template>
    <v-card style="max-width: 80%; margin: 50px auto">
        <v-container v-if="book">
            <v-card-text>
                <v-text-field
                    placeholder="title"
                    v-model="book.title"
                ></v-text-field>
                <v-text-field
                    placeholder="author"
                    v-model="book.author"
                ></v-text-field>
            </v-card-text>
            <v-card-actions class="justify-center">
                <v-btn color="primary" @click="updateBook">Update</v-btn>
            </v-card-actions>
        </v-container>
    </v-card>
</template>
<script>
import BookService from '../services/Bookservice'

export default {
    data: () => ({
        book: null
    }),
    methods: {
        async fetchBook() {
            this.book = await BookService.getBook(
                this.$route.params.bookId
            ).then(res => res.data)
        },
        updateBook() {
            BookService.updateBook(this.book)
            this.$router.push('/')
        }
    },
    created() {
        this.fetchBook()
    }
}
</script>
