<template>
    <v-container>
        <div class="home">
            <v-flex class="text-center">
                <v-btn class="primary" @click="fetchBooks">Refresh</v-btn>
            </v-flex>
            <div>
                <v-card
                    v-for="book in books"
                    :key="book.id"
                    @click="goToDetail(book.id)"
                    class="mt-5"
                >
                    <v-card-title
                        >{{ book.title }}
                        <span
                            class="pl-4 subtitle-1 grey--text"
                            v-if="book.author"
                        >
                            ({{ book.type }})
                        </span>
                    </v-card-title>
                    <v-card-text>
                        <p>{{ book.author }}</p>
                        <p>{{ book.createdAt | formatTimeString }}</p>
                    </v-card-text>
                </v-card>
            </div>
        </div>
    </v-container>
</template>

<script>
import BookService from '../services/Bookservice'

export default {
    name: 'home',
    data: () => ({
        books: null
    }),
    methods: {
        async fetchBooks() {
            this.books = await BookService.getBooks().then(res => res.data)
        },
        goToDetail(id) {
            this.$router.push({
                name: 'BookDetail',
                params: { bookId: id }
            })
        }
    },
    created() {
        this.fetchBooks()
    }
}
</script>
