<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <router-link to="/"><v-btn text> home</v-btn></router-link>
      <router-link to="create"><v-btn text >new</v-btn></router-link>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
    name: 'App',
    data: () => ({
    //
    }),
}
</script>
